<div id="<%= dom_id quote_category %>">
  <p>
    <strong>Quotes:</strong>
    <%= quote_category.quotes_id %>
  </p>

  <p>
    <strong>Catergories:</strong>
    <%= quote_category.catergories_id %>
  </p>

</div>
