<p style="color: green"><%= notice %></p>

<body>
    <h1>Welcome, Admin!</h1>
    <p>This is the admin dashboard of My Quote, where you can manage and oversee the operations of our platform.</p>
</body>    